.admin {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  overflow: hidden;

  @include breakpoint-xl {
    grid-template-columns: 1fr 2fr;
  }

  @include breakpoint-lg {
    grid-template-columns: 1fr;
  }
}

.admin-fullscreen {
  grid-template-columns: 1fr;
}

.editor {
  position: relative;
  background-color: $color-background;
  overflow: auto;

  &-main {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.5rem;
    border-bottom: $border-main;

    &-icon {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: flex-end;

      img {
        height: 3.5rem;
        margin-left: 0.5rem;
      }
    }
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem 1.5rem;

    @include breakpoint-sm {
      grid-template-columns: 1fr;
    }
  }

  &-id {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    font-size: $font-size-sm;
    color: var(--color-grey-1);
    font-weight: 600;

    &::before {
      content: 'id: ';
    }
  }

  &-image {
    width: 10rem;
    border: $border-main;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-group {
    border-bottom: $border-main;

    &-summary {
      padding: 1.5rem;
    }
  }

  &-control {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 1rem;
    padding: 1.5rem;
  }

  &-error {
    padding: 1.5rem;
    padding-bottom: 0;
  }
}
