@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: $font-main;
  font-size: $font-size-md;
  background-color: $color-outcontent;
  color: $color-text;
  overflow: overlay;

  @include breakpoint-sm {
    font-size: $font-size-sm;
  }
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
  font-family: $font-main;
  color: $color-text;
  cursor: pointer;
}

input,
textarea {
  font-family: $font-main;
  background-color: transparent;
  border: none;
  color: $color-text;

  &::placeholder {
    color: var(--color-grey-1);
  }
}

:focus,
:active {
  outline: none;
}

a {
  text-decoration: none;
  color: $color-text;
}

.active-link,
.exact-active-link {
  color: var(--color-grey-1) !important;
}

p {
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: $font-title;
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: clamp($font-size-xxl, 5vw, $font-size-xxxl);
  text-shadow: 3px 3px 0 var(--color-grey-1);
}

h2 {
  font-size: clamp($font-size-xl, 4vw, $font-size-xxl);
  text-shadow: 3px 3px 0 var(--color-grey-1);
}

h3 {
  font-size: $font-size-lg;
}

h4 {
  font-size: $font-size-md;
}

ul {
  list-style-type: none;
  padding-left: 1rem;
}

li::before {
  display: inline-block;
  content: '';
  width: 0.7rem;
  height: 0.7rem;
  background-color: var(--color-grey-1);
  margin-right: 0.7rem;
}

summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

hr {
  border-color: $color-text;
  margin: 1.5rem 0;
}

.plug {
  flex-grow: 1;
}

.single-page {
  position: relative;
  height: calc(100vh - $height-header);
  border-left: $border-main;
  border-right: $border-main;
  padding: calc($height-header + 1.5rem) 1.5rem 1.5rem 1.5rem;
  background-color: $color-background;
}

.objects-page {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  min-height: calc(100vh - $height-header);
  border-left: $border-main;
  border-right: $border-main;
  background-color: $color-background;
}

.cost-string {
  display: flex;
  align-items: center;
  gap: 3px;

  mark {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background: transparent center / contain no-repeat;

    &.gold { background-image: url(/images/resources/gold.png); }
    &.money { background-image: url(/images/resources/money.png); }
    &.wood { background-image: url(/images/resources/wood.png); }
    &.ore { background-image: url(/images/resources/ore.png); }
    &.mercury { background-image: url(/images/resources/mercury.png); }
    &.sulfur { background-image: url(/images/resources/sulfur.png); }
    &.crystal { background-image: url(/images/resources/crystal.png); }
    &.jewel { background-image: url(/images/resources/jewel.png); }
    &.cheap { background-image: url(/images/resources/cheap.png); }
    &.expensive { background-image: url(/images/resources/expensive.png); }
  }
}

.page-enter-active,
.page-leave-active {
  transition: all 0.5s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(10px);
}

::selection {
  color: var(--color-white-1);
  background-color: var(--color-gold-3);
}

::-moz-selection {
  color: var(--color-white-1);
  background-color: var(--color-gold-3);
}

::-webkit-scrollbar {
  width: 1.1rem;
  height: 1.1rem;
  background-color: $color-outcontent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-gold-2);
  border: 6px solid $color-outcontent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px $color-outcontent inset !important;
}

input:-webkit-autofill{
  -webkit-text-fill-color: $color-text !important;
}
